
@model IEnumerable<WebBooking.Models.Hotel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-guest.cshtml";
}

<div class="container">
    <main class="home">
        <section class="home__container">
            <h2 class="home__heading">Tìm theo loại chỗ nghỉ</h2>
            <div class="booking">
                <div class="booking-item">
                    <a href="@Url.Action("GetHotelsByType","LoaiKhachSan", new{id=1})">
                        <img src="/img/booking-type-img-1.png"
                             class="booking-thumb" />
                    </a>

                    <p class="booking-title">Khách sạn</p>
                </div>
                <div class="booking-item">
                    <a href="@Url.Action("GetHotelsByType","LoaiKhachSan", new{id=2})">
                        <img src="/img/booking-type-img-2.png"
                             class="booking-thumb" />
                    </a>
                    <p class="booking-title">Căn Hộ</p>
                </div>
                <div class="booking-item">
                    <a href="@Url.Action("GetHotelsByType","LoaiKhachSan", new{id=3})">
                        <img src="/img/booking-type-img-3.png"
                             class="booking-thumb" />
                    </a>
                    <p class="booking-title">Resort</p>
                </div>
                <div class="booking-item">
                    <a href="@Url.Action("GetHotelsByType","LoaiKhachSan", new{id=4})">
                        <img src="/img/booking-type-img-4.png"
                             class="booking-thumb" />
                    </a>
                    <p class="booking-title">Biệt Thự</p>
                </div>
            </div>

        </section>

        <section class="home__container">
            <h2 class="home__heading">Điểm đến thịnh hành</h2>
            <p class="home__desc">
                Các lựa chọn phổ biến nhất cho du khách từ Việt Nam
            </p>
            <div class="booking">
                <div class="row g-4 row-cols-2">
                    <div class="col">
                        <a href="@Url.ActionLink("LocTheoCity","LocCity", new{id=1})" class="booking__link">
                            <span class="booking-position booking-title booking-title--large booking-title--no-margin">
                                TP. Hồ Chí Minh
                            </span>
                            <img src="/img/booking-tphcm.png"
                                 alt=""
                                 class="booking-thumb booking-thumb--large" />
                        </a>
                    </div>
                    <div class="col">
                        <a href="@Url.ActionLink("LocTheoCity","LocCity", new{id=2})" class="booking__link">
                            <span class="booking-position booking-title booking-title--large booking-title--no-margin">
                                Hà Nội
                            </span>
                            <img src="/img/booking-hanoi.png"
                                 alt=""
                                 class="booking-thumb booking-thumb--large" />
                        </a>
                    </div>

                    <div class="col-4">
                        <a href="@Url.ActionLink("LocTheoCity","LocCity", new{id=2})" class="booking__link">
                            <span class="booking-position booking-title booking-title--large booking-title--no-margin">
                                Đà Lạt
                            </span>
                            <img src="/img/booking-dalat.png"
                                 alt=""
                                 class="booking-thumb booking-thumb--medium" />
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="@Url.ActionLink("LocTheoCity","LocCity", new{id=3})" class="booking__link">
                            <span class="booking-position booking-title booking-title--large booking-title--no-margin">
                                Vũng Tàu
                            </span>
                            <img src="/img/booking-vungtau.png"
                                 alt=""
                                 class="booking-thumb booking-thumb--medium" />
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="@Url.ActionLink("LocTheoCity","LocCity", new{id=4})" class="booking__link">
                            <span class="booking-position booking-title booking-title--large booking-title--no-margin">
                                Đà Nẵng
                            </span>
                            <img src="/img/booking-danang.png"
                                 alt=""
                                 class="booking-thumb booking-thumb--medium" />
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="home__container">
            <h2 class="home__heading">Khám Phá Việt Nam</h2>
            <p class="home__desc">
                Các điểm phổ biến này có nhiều điều chờ đón bạn
            </p>
            <div class="booking booking-local">

                <div class="booking-item">
                    <a href="#!">
                        <img src="/img/booking-vungtau.png"
                             class="booking-thumb booking-thumb--small" />
                    </a>
                    <p class="booking-title booking-title--small">
                        Vũng tàu
                    </p>
                    <p class="booking-number-room">1.825 chỗ nghỉ</p>
                </div>
                <div class="booking-item">
                    <a href="#!">
                        <img src="/img/booking-dalat.png"
                             class="booking-thumb booking-thumb--small" />
                    </a>
                    <p class="booking-title booking-title--small">
                        Đà Lạt
                    </p>
                    <p class="booking-number-room">1.825 chỗ nghỉ</p>
                </div>
                <div class="booking-item">
                    <a href="#!">
                        <img src="/img/booking-hanoi.png"
                             class="booking-thumb booking-thumb--small" />
                    </a>
                    <p class="booking-title booking-title--small">
                        Hà Nội
                    </p>
                    <p class="booking-number-room">1.825 chỗ nghỉ</p>
                </div>
                <div class="booking-item">
                    <a href="#!">
                        <img src="/img/booking-tphcm.png"
                             class="booking-thumb booking-thumb--small" />
                    </a>
                    <p class="booking-title booking-title--small">
                        TP.HCM
                    </p>
                    <p class="booking-number-room">1.825 chỗ nghỉ</p>
                </div>
                <div class="booking-item">
                    <a href="#!">
                        <img src="/img/booking-danang.png"
                             class="booking-thumb booking-thumb--small" />
                    </a>
                    <p class="booking-title booking-title--small">
                        Đà Nẵng
                    </p>
                    <p class="booking-number-room">1.825 chỗ nghỉ</p>
                </div>
                <div class="booking-item">
                    <a href="#!">
                        <img src="/img/booking-nhatrang.png"
                             class="booking-thumb booking-thumb--small" />
                    </a>
                    <p class="booking-title booking-title--small">
                        Nha Trang
                    </p>
                    <p class="booking-number-room">1.825 chỗ nghỉ</p>
                </div>
            </div>
        </section>

        <section class="home__container">
            <h2 class="home__heading">
                Các địa điểm lưu trú độc đáo hàng đầu
            </h2>
            <p class="home__desc">
                Từ lâu đài và biệt thự đến thuyền và lều tuyết, chúng
                tôi có tất cả
            </p>
            <div class="row row-cols-5 g-4">
                <!-- Product-card 1 -->
                @foreach (var hotel in Model.Take(5))
                {
                    <div class="col">
                        <article class="product-card">
                            <div class="product-card-wrap product-card-wrap-hotel">
                                <a @* href="@Url.Action("AvailableRooms", "KhachHang", new { hotelId = hotel.Id,hotelName = hotel.TenKhachSan, hotelAddress =hotel.DiaChi, fromDate = ViewBag.fromDate, toDate = ViewBag.toDate, numberOfGuests = ViewBag.numberOfGuests, })" *@>
                                    <img src="@hotel.Image"
                                         alt=""
                                         class="product-card__img product-card__img--small" />
                                </a>
                                <div class="product-card__content">
                                    <h3 class="product-card__name">
                                         @hotel.HotelName
                                    </h3>
                                    <p class="product-card__address">
                                         @hotel.Address
                                    </p>
                                    <div class="product-card__rate">
                                        <div class="product-card__rate-eval">
                                            <span>8.7</span>
                                        </div>
                                        <p class="product-card__rate-desc">
                                            Tuyệt vời
                                        </p>
                                        <span class="product-card__rate-reviews">
                                            · 2.746 đánh giá
                                        </span>
                                    </div>
                                    @*     <div class="product-card__estimate">
                                Giá chỉ từ
                                <strong>VNĐ 3.409.647  </strong>
                                </div> *@
                                </div>
                            </div>
                        </article>
                    </div>
                }

            </div>
        </section>

    </main>
</div>

