
@* @model IEnumerable<WebBooking.Models.Hotel> *@
@{
    var famousHotels = ViewBag.FamousHotels as IEnumerable<Hotel>;
    var famousAreas = ViewBag.FamousAreas as IEnumerable<Area>;
    var hotelTypes = ViewBag.HotelTypes as IEnumerable<HotelType>;
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-guest.cshtml";
}

<div class="container">
    <main class="home">
        <section class="home__container">
            <h2 class="home__heading">Tìm theo loại chỗ nghỉ</h2>
            <div class="booking">
                @foreach (var hotelType in hotelTypes.Take(4)) {
                <div class="booking-item">
                     <a href="@Url.Action("AllHotelType", "SearchHotel", new { TypeId = hotelType.TypeID})">
                            <img src="@hotelType.Image"
                             class="booking-thumb" />
                    </a>
                        <p class="booking-title">@hotelType.TypeName</p>
                </div>
                }
            </div>

        </section>

        <section class="home__container">
            <h2 class="home__heading">Khám Phá Việt Nam</h2>
            <p class="home__desc">
                Các điểm phổ biến này có nhiều điều chờ đón bạn
            </p>
            <div class="booking booking-local">
                @foreach (var area in famousAreas)
                {
                        <div class="booking-item">
                        <a href="@Url.Action("AllHotelInArea", "SearchHotel", new { AreaId = area.AreaID})">
                            <img src="@area.Image"
                                 class="booking-thumb booking-thumb--small" />
                        </a>
                        <p class="booking-title booking-title--small">
                            @area.AreaName
                        </p>
                        <p class="booking-number-room">@area.NumberOfHotels chỗ nghỉ</p>
                    </div>
                }
            
           
            </div>
        </section>

        <section class="home__container">
            <h2 class="home__heading">
                Các địa điểm lưu trú độc đáo hàng đầu
            </h2>
            <p class="home__desc">
                Từ lâu đài và biệt thự đến thuyền và lều tuyết, chúng
                tôi có tất cả
            </p>
            <div class="row row-cols-5 g-4">
                <!-- Product-card 1 -->
                @foreach (var hotel in famousHotels)
                {
                    <div class="col">
                        <article class="product-card">
                            <div class="product-card-wrap product-card-wrap-hotel">
                                <a href="@Url.Action("AvailableRooms", "SearchHotel", new { hotelId = hotel.HotelID})">
                                    <img src="@hotel.Image1"
                                         alt=""
                                         class="product-card__img product-card__img--small" />
                                
                                <div class="product-card__content">
                                    <h3 class="product-card__name">
                                         @hotel.HotelName
                                    </h3>
                                    <p class="product-card__address">
                                         @hotel.Address
                                    </p>
                                    <div class="product-card__rate">
                                        <div class="product-card__rate-eval">
                                            <span>8.7</span>
                                        </div>
                                        <p class="product-card__rate-desc">
                                            Tuyệt vời
                                        </p>
                                        <span class="product-card__rate-reviews">
                                            · 2.746 đánh giá
                                        </span>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </article>
                    </div>
                }

            </div>
        </section>

    </main>
</div>

